<div class="row">
  <div class="col-sm-12">
    <form name="postForm" novalidate ng-submit="editPost()">
      <div class="form-group">
      <textarea class="form-control" required placeholder="Add Post" ng-model="vm.post.body"></textarea>
      </div>
      <div class="form-group clearfix">
      <button class="btn btn-primary pull-right" ng-disabled="postForm.$invalid">Update</button>
      </div>
    </form>
  </div>
</div>
