<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li ng-repeat="(k, v) in vm.messages" class="list-group-item text-danger">{{ k }} {{ v }}</li>
    </ul>
  </div>
  <div class="col-sm-6 col-xs-12">
    <form class="form-horizontal" novalidate>
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-10">
            <input type="email" ng-model="vm.credentials.email" class="form-control" id="inputEmail3" placeholder="Email">
          </div>
      </div>
      <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
          <input type="password" ng-model="vm.credentials.password" class="form-control" id="inputPassword3" placeholder="Password">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default" ng-click="loginUser()">Sign in</button>
        </div>
      </div>
    </form>
  </div>
</div>
