<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li ng-repeat="(k, v) in vm.messages" class="list-group-item text-danger">{{ k }}: {{ v }}</li>
    </ul>
  </div>
  <div class="col-sm-6 col-xs-12">
    <form class="form-horizontal" novalidate>
      <div class="form-group">
        <label for="first_name" class="col-sm-2 control-label">First Name</label>
          <div class="col-sm-10">
            <input type="text" ng-model="vm.credentials.first_name" class="form-control" id="first_name" placeholder="First Name">
          </div>
      </div>
      <div class="form-group">
        <label for="last_name" class="col-sm-2 control-label">Last Name</label>
          <div class="col-sm-10">
            <input type="text" ng-model="vm.credentials.last_name" class="form-control" id="last_name" placeholder="Last Name">
          </div>
      </div>
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-10">
            <input type="email" ng-model="vm.credentials.email" class="form-control" id="inputEmail3" placeholder="Email">
          </div>
      </div>
      <div class="form-group">
        <label for="inputPassword" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
          <input type="password" ng-model="vm.credentials.password1" class="form-control" id="inputPassword" placeholder="Password">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword2" class="col-sm-2 control-label">Repeat Password</label>
        <div class="col-sm-10">
          <input type="password" ng-model="vm.credentials.password2" class="form-control" id="inputPassword2" placeholder="Password">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default" ng-click="registerUser()">Register</button>
        </div>
      </div>
    </form>
  </div>
</div>
