<div class="row">
  <div class="col-sm-11">
    <form name="postForm" novalidate ng-submit="sendPost()">
      <div class="form-group">
      <textarea class="form-control" required placeholder="Add Post" ng-model="vm.postContent"></textarea>
      </div>
      <div class="form-group clearfix">
      <button class="btn btn-primary pull-right" ng-disabled="postForm.$invalid">Post</button>
      </div>
    </form>
  </div>
  <div ng-repeat-start="post in vm.posts" class="col-sm-11">
    <div class="panel panel-default">
      <div class="panel-body" >
        {{ post.body }}
        <div>
          <small class="post-date">{{ post.created_at | date:"yyyy-MM-dd HH:mm:s"}}</small>
        </div>
      </div>
    </div>
  </div>
  <div ng-repeat-end class="col-sm-1">
    <a ng-show="isLoggedIn() && user.id == post.user" ng-href="#posts/edit/{{ post.id }}" title="Edit this post"><i class="fa fa-edit"></i></a>
    <br/>
    <a ng-show="isLoggedIn() && user.id == post.user" ng-href="#posts/delete/{{ post.id }}" title="Delete this post"><i class="fa fa-remove"></i></a>
  </div>
</div>
